<div class="container cart-empty-page">
    <div class="text-center">
        <img src="https://www.svgrepo.com/show/17356/empty-cart.svg" alt="Empty cart">
        <h1><strong>Your cart is empty</strong></h1>
        <p>
            Before proceed to checkout you must add some products to your shopping cart. You will find a lot of
            interesting products on our "Shop" page.
        </p>
        <a class="btn btn-primary">
            Start Shopping
        </a>
    </div>
</div>
